* {
    color : #FEE715;
    background-color : #101820;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 300px;
    width: 300px;
}

.homeButton {
    background-color: #FEE715;
    color: #101820;
    padding: 14px 25px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
}